@-webkit-keyframes slideLeftIn {
	0% { -webkit-transform: translateX(100%)}
	100% { -webkit-transform: translateX(0%)}
}
@-webkit-keyframes slideLeftOut {
	0% { -webkit-transform: translateX(0%)}
	50% { -webkit-transform: translateX(-50%)}
	100% { -webkit-transform: translateX(-100%)}
}
@-webkit-keyframes slideRightIn {
	0% { -webkit-transform: translateX(-100%)}
	50% { -webkit-transform: translateX(-50%) }
	100% { -webkit-transform: translateX(0%) }
}
@-webkit-keyframes slideRightOut {
	0% { -webkit-transform: translateX(0)}
	50% { -webkit-transform: translateX(50%)}
	100% { -webkit-transform: translateX(100%)}
}
@-webkit-keyframes scaleIn {
	0% {opacity: 0;-webkit-transform: scale(.3)}
	100% {opacity: 1;-webkit-transform: scale(1)}
}
@-webkit-keyframes scaleOut {
	0% {opacity: 1;-webkit-transform: scale(1)}
	100% {opacity: 0;-webkit-transform: scale(.2)}
}
