/****  for page ***/
@-webkit-keyframes emptyAnim{
    0% { -webkit-transform: scale(1)}
	100% { -webkit-transform:scale(1)}
}
@-webkit-keyframes slideLeftIn {
	0% { -webkit-transform: translate3d(100%,0,0)}
	100% { -webkit-transform: translate3d(0,0,0)}
}
@-webkit-keyframes slideLeftOut {
	0% { -webkit-transform: translate3d(0,0,0)}
	100% { -webkit-transform: translate3d(-100%,0,0)}
}
@-webkit-keyframes slideRightIn {
	0% { -webkit-transform: translate3d(-100%,0,0)}
	100% { -webkit-transform: translate3d(0%,0,0) }
}
@-webkit-keyframes slideRightOut {
	0% { -webkit-transform: translate3d(0%,0,0)}
	100% { -webkit-transform: translate3d(100%,0,0)}
}
@-webkit-keyframes scaleIn {
	0% {opacity: 0;-webkit-transform: scale(.5)}
	100% {opacity: 1;-webkit-transform: scale(1)}
}
@-webkit-keyframes scaleOut {
	0% {opacity: 1;-webkit-transform: scale(1)}
	100% {opacity: 0;-webkit-transform: scale(.5)}
}
@-webkit-keyframes slideDownIn {
	0% {opacity: 0;-webkit-transform: translate3d(0,-100%,0)}
	100% {opacity: 1;-webkit-transform: translate3d(0,0,0)}
}
@-webkit-keyframes slideUpOut {
	0% {opacity: 1;-webkit-transform: translate3d(0,0,0)}
	100% {opacity: 0;-webkit-transform: translate3d(0,-100%,0)}
}
@-webkit-keyframes slideDownOut {
	0% {-webkit-transform: translate3d(0,0,0)}
	100% {-webkit-transform: translate3d(0,100%,0)}
}
@-webkit-keyframes slideUpIn {
	0% {-webkit-transform: translate3d(0,90%,0)}
	100% {-webkit-transform: translate3d(0,0,0)}
}

section.anim{
    -webkit-animation-duration: 250ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out
}
.empty{
    z-index: 4 !important;
    -webkit-animation-name: emptyAnim;
}

.slideLeftOut{
    -webkit-animation-name: slideLeftOut;
}
.slideLeftIn{
    -webkit-animation-name: slideLeftIn;
}
.slideRightIn{
    -webkit-animation-name: slideRightIn;
}
.slideRightOut{
    -webkit-animation-name: slideRightOut;
}
.scaleIn{
    -webkit-animation-name: scaleIn;
}
.scaleOut{
    -webkit-animation-name: scaleOut;
}
.slideDownIn{
    -webkit-animation-name: slideDownIn;
}
.slideDownOut{
    -webkit-animation-name: slideDownOut;
}
.slideUpIn{
    z-index: 10;
    -webkit-animation-name: slideUpIn;
}
.slideUpOut{
    -webkit-animation-name: slideUpOut;
}
/******** for calendar *******/
@-webkit-keyframes slideLeftRound {
	0% { -webkit-transform: translate3d(0%,0,0)}
	40% { -webkit-transform: translate3d(-40%,0,0)}
	41% { -webkit-transform: translate3d(60%,0,0)}
	100% { -webkit-transform: translate3d(0%,0,0)}
}
@-webkit-keyframes slideRightRound {
	0% { -webkit-transform: translate3d(0%,0,0)}
	40% { -webkit-transform: translate3d(40%,0,0)}
	41% { -webkit-transform: translate3d(-60%,0,0)}
	100% { -webkit-transform: translate3d(0%,0,0)}
}
/********** for popup  toast **********/
@-webkit-keyframes bounceIn {
	0% {opacity: 0;-webkit-transform: scale(.3);}
	50% {opacity: 1;-webkit-transform: scale(1.1);}
	100% {-webkit-transform: scale(1);}
}
@-webkit-keyframes bounceOut {
	0% {-webkit-transform: scale(1);}
	100% {opacity: 0;-webkit-transform: scale(.5);}
}