aside[data-position="left"]{
    left:0;
    -webkit-transform:translateX(-100%);
}
aside[data-position="right"]{
    right:0;
    -webkit-transform:translateX(100%);
}
aside[data-transition="overlay"]{
    z-index: 4;
}
aside[data-transition="reveal"]{
    z-index: 2;
}
aside[data-position][data-transition="reveal"]{
    -webkit-transform:translateX(0);
}
aside{
    display: none;
    font-size: 1.1em;
    box-orient:vertical;
    -webkit-box-orient:vertical;
}
aside.active{
    display: -webkit-box;
    display: box;
}
.aside-close{
    position: absolute;
    top:0;
    color: #ECF0F1;
    padding: 10px;
}
aside[data-position="left"] .aside-close{
    right: 0;
}
aside[data-position="right"] .aside-close{
    left: 0;
}
aside > *{
    -webkit-box-flex : 0;
}
aside>.header{
    overflow: hidden;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
aside>.center{
    -webkit-box-flex : 1;
    overflow: auto;
}
aside ul.menu li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
aside ul.menu li a {
    padding: 10px 20px;
    display: block;
}
aside ul.menu li a .icon{
    float:left;
}
aside ul.menu li.anchor{
    padding: 2px 10px;
    font-size: 0.9em;
}