.control-group {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    line-height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #1eb0e9;
    background-image: -webkit-linear-gradient(top, #1eb0e9 0, #0984c6 100%);
    background-image: linear-gradient(to bottom, #1eb0e9 0, #0984c6 100%);
    border: 1px solid #0e5895;
    border-radius: 3px;
    box-shadow: 0 1px rgba(255, 255, 255, .25);
    -webkit-box-flex: 1;
    box-flex: 1;
}

.control-group li {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid #0e5895;
    box-shadow: inset 1px 0 rgba(255, 255, 255, .25);
    -webkit-box-flex: 1;
    box-flex: 1;
}

.control-group li > a {
    display: block;
    padding: 8px 16px;
    overflow: hidden;
    line-height: 15px;
    color: #333;
    text-overflow: ellipsis;
}

.control-group li:first-child {
    border-left-width: 0;
    box-shadow: none;
}

.control-group li.active {
    background-color: #0082c4;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, .3);
}
