.control-group {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    line-height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #3498DB;
    border-radius: 3px;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.control-group li {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid rgba(0, 0, 0, .2);
    box-shadow: inset 1px 0 rgba(255, 255, 255, .25);
    -webkit-box-flex: 1;
    box-flex: 1;
}

.control-group li > a {
    display: block;
    padding: 8px 16px;
    overflow: hidden;
    line-height: 15px;
    text-overflow: ellipsis;
}

.control-group li:first-child {
    border-left-width: 0;
    box-shadow: none;
}

.control-group li.active {
    background-color: #2980B9;
}
.control-group .icon{
    font-size: 20px;
}
