.control-group {
    display: -webkit-box;
    display: box;
    overflow: hidden;
    list-style: none;
}

.control-group li {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    border-right-width: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 5px 0;
}

.control-group li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.control-group li:first-child {
    border-radius: 4px 0 0 4px;
}
.control-group li:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
}
.control-group li.active {
    border-color: rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 rgba(0, 0, 0, 0.05);
}
.control-group li.active a,.control-group li.active .icon{
    color: #fff;
}
.control-group .icon{
    color: #2087FC;
}
.control-group i.icon ~ a {
    padding: 0;
}
