
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

select,
textarea,
input[type="text"],
input[type=search],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1);
  -webkit-appearance: none;
  -webkit-user-select: text;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
}

input[type=search] {
  height: 34px;
  font-size: 1em;
  border-radius: 30px;
}

textarea {
  height: auto;
}

select {
  height: auto;
  font-size: 1em;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #d4d4d4 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #d4d4d4 100%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.input-group {
  width: auto;
  height: auto;
  padding: 0;
}

.input-group input {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  box-shadow: none;
}
.input-group input:last-child {
  border-bottom-width: 0;
}
.input-row {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.input-row:last-child {
  border-bottom-width: 0;
}
.input-row label {
  float: left;
  width: 25%;
  padding: 11px 10px 9px 13px;
  font-weight: 400;
}
.input-row label + input {
  float: right;
  width: 75%;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.input-row label + .toggle {
    margin: 11px 10px 9px 0;
}
.label{
    background-color: #E67E22;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 5px;
}