/*** list **/
.list li {
    list-style-type: none;
    padding: 10px;
    position: relative;
    background: #fff;
    border-bottom: inset 1px #C8C8C8;
    color: #333;
}

.list li, .list li a, .list li small, .list li .right {
    font-weight: 300
}

.list li a {
    display: block
}
.list li strong {
    position: relative;
    font-size: 1.2em;
    font-weight: 400
}

.list li small {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li small + .right {
    margin-top: -12px
}

.list li small, .list li.anchor, .list li .right:not(.tag) {
    font-size: .9em
}

/*** 右箭头 ***/
.list li.arrow::after {
    position: absolute;
    right: 8px;
    top: 40%;
    width: 6px;
    height: 6px;
    content: '';
    border-right: 3px solid #d0d0d8;
    border-top: 3px solid #d0d0d8;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

/**** 分割栏 **/
.list li.divider{
    padding: 2px 10px;
    background: #222;
    color: #fff;
}
/*** 选中状态 ***/
.list li.selected:active,.list li.active{
    background: #03b1ff;
}

