#jingle_popup_mask{
    display: none;
    position: absolute;
    z-index: 90;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-color: #222;
    opacity: 0;
}
#jingle_popup{
    display: none;
    position: absolute;
    left: 0;
    right:0;
    background-color: #343A41;
    color: #fff;
    z-index: 98;
    min-height: 50px;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}
#jingle_popup.arrow{
    border-radius: 5px;
}
#jingle_popup.arrow:after{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
}
#jingle_popup.arrow.top:after{
     bottom: 100%;
     left: 50%;
     margin-left: -10px;
     border-bottom-color: #343A41;
 }
#jingle_popup.arrow.right:after{
    left: 100%;
    top: 50%;
    margin-top: -10px;
    border-left-color: #343A41;
}
#jingle_popup.arrow.bottom:after{
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top-color: #343A41;
}
#jingle_popup.arrow.left:after{
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-right-color: #343A41;
}
#popup_btn_container{
    text-align: center;
    margin-top: 10px;
    display: -webkit-box;
    display: box;
    background-color: #282c32;
}
#popup_btn_container > a{
    -webkit-box-flex:1;
    box-flex:1;
    border:1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: block;
}
#popup_btn_container > a:first-child{
    -webkit-border-bottom-left-radius: 3px;
    border-left: 0 none;
}
#popup_btn_container > a:last-child{
    -webkit-border-bottom-right-radius: 3px;
    border-right: 0 none;
}

.popup-title{
    font-weight: 600;
    text-align: left;
    color: #3498DB;
    padding: 10px;
    font-weight: 600;
}
.popup-content{
    padding: 0 10px 10px 10px;
    line-height: 1.2em;
}
#tag_close_popup{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    color: #BDC3C7;
    padding: 5px 5px 10px 10px;
}
#jingle_popup .nav{
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}
#jingle_popup .nav.active,#jingle_popup .nav:active{
    background-color: #3498DB;
    color: #fff;
}

#jingle_popup.loading{
    top:50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    opacity: .9;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
#jingle_popup.loading i.icon{
    font-size: 4em;
    line-height: 110px;
    margin:0;
}
#jingle_popup.loading p{
    color: #BDC3C7;
}