#jingle_popup_mask{
    display: none;
    position: absolute;
    z-index: 90;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background-color: #222;
    opacity: 0;
}
#jingle_popup{
    display: none;
    position: absolute;
    left: 0;
    right:0;
    background-color: #222;
    color: #fff;
    z-index: 98;
    min-height: 50px;
    padding: 6px;
}
#jingle_popup.arrow{
    border-radius: 5px;
}
#jingle_popup.arrow:after{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
}
#jingle_popup.arrow.top:after{
     bottom: 100%;
     left: 50%;
     margin-left: -10px;
     border-bottom-color: #222;
 }
#jingle_popup.arrow.right:after{
    left: 100%;
    top: 50%;
    margin-top: -10px;
    border-left-color: #222;
}
#jingle_popup.arrow.bottom:after{
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top-color: #222;
}
#jingle_popup.arrow.left:after{
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-right-color: #222;
}
#popup_btn_container{
    text-align: center;
}
#popup_btn_container>*{
    margin:5px;
}
#jingle_popup button{
    width:80px;
    padding: 5px;
}
#jingle_popup .title{
    font-weight: 600;
    padding: 10px;
}
#tag_close_popup{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #BDC3C7;
    padding: 5px 5px 10px 10px;
}
#jingle_popup .nav{
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}