.slider{
    position: relative;
    overflow: hidden;
}
.slider>div>*{
    display: none;
}
.dots{
    width:100%;height: 20px;position:absolute;left: 0;bottom: 10px;z-index: 999;
    opacity: .7;
}
.dots ul{
    margin:0 auto;
    width: 112px;
    height: 20px;
    padding: 0px 8px;
    display: -webkit-box;
    display: box;
}
.dots ul li{
    list-style: none;
    -webkit-box-flex : 1;
    height: 20px;
    padding:5px 10px;
}
.dots ul li a{
    display: block;
    width: 10px;height: 10px;
    border-radius: 10px;
}