.toggle {
    position: relative;
    width: 80px;
    height: 28px;
    border-radius: 6px;
}
/** 自定义文本 **/
[data-on]:before {
    content: attr(data-off) !important;
    font-family: "Open Sans" !important;
    font-size: 1em !important;
    font-weight: 600;
}

[data-on].active:before {
    content: attr(data-on) !important;
}

.toggle:before {
    position: absolute;
    right: 13px;
    line-height: 28px;
    text-transform: uppercase;
    content: "\e005";
    font-family: 'Jingle';
    font-size: 1.2em;
}

.toggle-handle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 30px;
    height: 28px;
    -webkit-transition: -webkit-transform 0.1s ease-in-out, border 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
    border-radius: 6px 0 0 6px;
}

.toggle.active .toggle-handle {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
}

.toggle.active:before {
    right: auto;
    left: 15px;
    content: "\e006";
    font-family: 'Jingle';
}
