.indented > * {
    margin: 5px 10px;
}
.demo-list li{
    display: -webkit-box;
}
.demo-list span.icon{
    position: inherit;
    font-size: 40px;
    color: #524d4b;
    padding: 0 10px;
}
.demo-list a{
    -webkit-box-flex:1;
}
.demo-btn-group{
    width: auto;
    height: auto;
    text-align: center;
}
.demo-btn-group > *{
    margin: 5px 0;
}

.icon-container{
    width:100%;
}
.icon-container > *{
    margin:10px;
    padding-top: 50px;
    float: left;
    width: 7em;
    height: 85px;
    background-color: #eee;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.icon-container .icon{
    font-size: 2em;
    width:100%;
    text-align: center;
    padding:5px;
    position: absolute;
    left: 0;
    top:15px;
}

@-webkit-keyframes flipIn {
    0% { -webkit-transform: perspective(1000px) rotateY(90deg);opacity: 0;}
    100% {-webkit-transform: perspective(1000px) rotateY(0deg); opacity: 1;}
}
.flipIn {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipIn;
    -webkit-transform-origin: top left;
}
@-webkit-keyframes flipOut {
    0% { -webkit-transform: perspective(1000px) rotateY(90deg);opacity: 0;}
    100% {-webkit-transform: perspective(1000px) rotateY(0deg); opacity: 1;}
}
.flipOut {
    -webkit-animation-name: flipOut;
    -webkit-backface-visibility: visible !important;
    -webkit-transform-origin: top right;
}

.chartTitle{
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    margin:10px;
}
.legend{
    border: 1px solid #b9b4b6;
    margin:0 auto;
    width: 150px;
    border-radius:4px;
    padding:5px;
    display: -webkit-box;
}
.legend>div{
    -webkit-box-flex : 1;
    box-flex : 1;
}
.arrow_container{
    border-radius: 4px;
    border: 1px solid #95A5A6;
    background: #95A5A6;
    padding: 5px;
    text-align: center;
    position: relative;
    width:60%;
    margin:0 auto;
}
.arrow_container:after{
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 20px;
    border-bottom-color: #95A5A6;
}
