.indented > * {
    margin: 5px 10px;
}
sub,sup{
    font-size: 0.5em;
    position: relative;
    top: -5px;
}
.box{
    display: -webkit-box;
    margin-bottom: 15px;
}
.box li{
    list-style: none;
    border-radius: 3px;
    padding: 8px 3px;
    -webkit-box-flex:1;
    margin-right: 5px;
    text-align: center;
    position: relative;
    height: 70px;
}
.box li:after{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
/*** color **/
.box li.belize-hole.active:after{border-top-color: #2980B9}
.box li.peter-river.active:after{border-top-color: #3498DB}
.box li.orange.active:after{border-top-color: #F39C12}
.box li.green-sea.active:after{border-top-color: #16A085}
.box li.asbestos.active:after{border-top-color: #7F8C8D}

.box li:last-child{
    margin-right: 0;
}
.box li .title{
    color: #fbf4ff;
    font-size: 1em;
    padding-bottom: 6px;
}
.box li .text{
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
}
.group_list{
    list-style: none;
    background-color:#fff;
}

.group_list .title{
    font-size: 1.2em;font-weight: 600;height:60px;line-height: 60px;float: left;width:70px;
    text-align: center;
    color: #000;
    text-shadow: 2px 2px 0 #E4F1FF;
    border-right: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
}
.group_list .title .progress{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #27AE60;
    opacity: 0.5;
    background-image:-webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
}
.group_list .title .health-tip{
    position: absolute;
    left: 0;top:0;bottom: 0;width: 100%;
    z-index: 3;background: #27AE60;color: #fff;
    font-size: 0.9em;line-height: 30px;text-shadow: none;
    display: none;
}
.health-tip span{
    display: block;
    font-size: 1.5em;font-weight: 600;
}
 section .group_list li{
     border: solid 1px #C8C8C8;
     border-top: none;
     border-radius: 5px 5px 0 0;background-color: #2980B9;
    margin-bottom: 10px;
    padding: 5px 0 0 0;
    position: relative;
}
.group_list .content{
    margin-left: 70px;height: 60px;
    padding-left: 10px;
    background-color: #ECF0F1;
}

.group_list .content a{
    width:25%;float:left;height: 60px;line-height: 60px;color: #222;
}
.group_list a abbr{
    color: #2C3E50;
    font-size: 1em;

}
.group_list a span{
    font-size: 1.3em;font-weight: bold;color: #E67E22;padding:0 4px;
    margin-left: 6px;
}


@media screen and (max-width:480px){
    .group_list .title{
        height: 60px;line-height: 60px;
    }
    .group_list .content{
        height: 60px;
    }
    .group_list .content a{
        width:50%;
        height: 30px;
        line-height: 30px;
        float:left;
    }
}
.button.disable{
    color: #808080 !important;
}

.vm-grid {
    border-radius: 5px;
    min-height: 100px;
    display: -webkit-box;
    color: #fff;
    position: relative;
}
.vm-grid .title{
    margin: 10px 0;
    text-align: center;
    width: 70px;
    font-size: 1em;
    -webkit-box-flex : 0;
}
.vm-grid .content{
    -webkit-box-flex : 1;
    font-size: 2.5em;
    height: 100px;line-height: 100px;
    font-weight: 600;
    padding-left: 10px;
    min-width: 110px;
}
.vm-grid > .icon{
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    right: 5px;top:5px;
}
.vm-grid .icon-tip{
    position: absolute;
    color: #fff;
    right: 25px;top:5px;
    background-color: #3498DB;
    border-radius: 3px;
    padding: 1px 3px;
}
.vm-grid .title>.icon{
    display: block;
    font-size: 2.5em;
    margin: 10px 0 0 5px;
    position: absolute;
    bottom: 10px;
    left:10px;
}
.grid-container{
   display: -webkit-box;
}
.grid-container>div{
    -webkit-box-flex:1;
    margin-right: 5px;
}
.grid-container>div:last-child{
    margin-right: 0;
}
.border{
    border: 1px solid #c8c8c8;
}