.indented > * {
    margin: 5px 10px;
}
sub,sup{
    font-size: 10px;
}
.box{
    display: -webkit-box;
    margin-bottom: 15px;
}
.box li{
    list-style: none;
    border-radius: 3px;
    padding: 11px 3px;
    -webkit-box-flex:1;
    margin-right: 5px;
    background-color: #5d3a05;
    text-align: center;
    position: relative;
}
.box li:after{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
/*** color **/
.box li.violet{background-color: #5d3a05}
.box li.violet.active:after{border-top-color: #5d3a05}
.box li.orange{background-color: #EA5506}
.box li.orange.active:after{border-top-color: #EA5506}
.box li.blue{background-color: #009ad6}
.box li.blue.active:after{border-top-color: #009ad6}
.box li.wine{background-color: #ec6d51}
.box li.wine.active:after{border-top-color: #ec6d51}
.box li.dark-green{background-color: #b8be00}
.box li.dark-green.active:after{border-top-color: #b8be00}

.box li:last-child{
    margin-right: 0;
}
.box li .title{
    color: #fbf4ff;
    font-size: 12px;
    padding-bottom: 3px;
}
.box li .text{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.group_list{
    background-color:#fff;
}

.group_list .title{
    font-size: 20px;font-weight: 600;height:60px;line-height: 60px;float: left;width:70px;
    text-align: center;
    color: #000;
    text-shadow: 2px 2px 0 #E4F1FF;
    border-right: 1px solid #eee;
    background-color: #fff;
    position: absolute;
}
.group_list .title .progress{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #27AE60;
    opacity: 0.5;
    background-image:-webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
}
.group_list .title .health-tip{
    position: absolute;
    left: 0;top:0;bottom: 0;width: 100%;
    z-index: 3;background: #27AE60;color: #fff;
    font-size: 10px;line-height: 30px;text-shadow: none;
    display: none;
}
.health-tip span{
    display: block;
    font-size: 20px;font-weight: 600;
}
 section .group_list li{
    border-radius: 5px 5px 0 0;background-color: #009ad6;
    border: solid 1px #C8C8C8;
    border-top: none;
    margin-bottom: 10px;
}
.group_list .content{
    margin-left: 70px;height: 60px;
    padding-left: 10px;
    background-color: #fff;
}

.group_list .content a{
    width:25%;float:left;height: 60px;line-height: 60px;color: #222;
}
.group_list a span{
    font-size: 1.5em;font-weight: bold;color: #0093D5;padding:0 4px 0 8px;
}


@media screen and (max-width:480px){
    .group_list .title{
        height: 60px;line-height: 60px;
    }
    .group_list .content{
        height: 60px;
    }
    .group_list .content a{
        width:50%;
        height: 30px;
        line-height: 30px;
        float:left;
    }
}
.button.disable{
    color: #808080 !important;
}

.vm-grid {
    border-radius: 5px;
    height: 100px;
    display: -webkit-box;
    color: #fff;
    position: relative;
}
.vm-grid .title{
    margin: 10px 0;
    text-align: center;
    width: 50px;
    font-size: 14px;
    height: 30px;line-height: 30px;
    -webkit-box-flex : 0;
}
.vm-grid .content{
    -webkit-box-flex : 1;
    font-size: 40px;
    height: 100px;line-height: 100px;
    font-weight: 600;
    padding-left: 10px;
    min-width: 110px;
}
.vm-grid .icon{
    font-size: 16px;
    color: #fff;
    position: absolute;
    right: 5px;top:5px;
}
.vm-grid .icon-tip{
    position: absolute;
    color: #fff;
    right: 25px;top:5px;
    background-color: #3498DB;
    border-radius: 3px;
    padding: 1px 3px;
}
.grid-container{
   display: -webkit-box;
}
.grid-container>div{
    -webkit-box-flex:1;
    margin-right: 5px;
}
.grid-container>div:last-child{
    margin-right: 0;
}
.border{
    border: 1px solid #c8c8c8;
}

.icon-container{
    width:100%;
}
.icon-container > *{
    margin:10px;
    float: left;
    width: 7em;
    height: 85px;
    background-color: #eee;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.icon-container .icon{
    font-size: 2em;
    width:100%;
    text-align: center;
    padding:5px;
}

#index_container{
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 0;
    right: 0;
}
#index_container > *{
    position: absolute;
    top:0;bottom: 0;left: 0;right: 0;
    z-index : 1;
    overflow: hidden;
}
#index_container > .hiding{
    z-index: 2;
}
#index_container > .active{
    z-index : 3;
}
