@font-face {
	font-family: 'icomoon';
	src:url('icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon.list:before {
	content: "\e000";
}
.icon.cloud-download:before {
	content: "\e001";
}
.icon.reply:before {
	content: "\e01b";
}
.icon.reply-all:before {
	content: "\e01c";
}
.icon.forward:before {
	content: "\e01d";
}
.icon.user:before {
	content: "\e01e";
}
.icon.users:before {
	content: "\e01f";
}
.icon.sharable:before {
	content: "\e002";
}
.icon.heart:before {
	content: "\e003";
}
.icon.heart-2:before {
	content: "\e004";
}
.icon.star:before {
	content: "\e005";
}
.icon.star-2:before {
	content: "\e006";
}
.icon.printer:before {
	content: "\e007";
}
.icon.bell:before {
	content: "\e008";
}
.icon.link:before {
	content: "\e009";
}
.icon.flag:before {
	content: "\e00a";
}
.icon.cog:before {
	content: "\e00b";
}
.icon.music:before {
	content: "\e00c";
}
.icon.new:before {
	content: "\e00d";
}
.icon.graduation:before {
	content: "\e00e";
}
.icon.book:before {
	content: "\e00f";
}
.icon.newspaper:before {
	content: "\e010";
}
.icon.cd:before {
	content: "\e011";
}
.icon.briefcase:before {
	content: "\e012";
}
.icon.air:before {
	content: "\e013";
}
.icon.hourglass:before {
	content: "\e014";
}
.icon.gauge:before {
	content: "\e015";
}
.icon.brush:before {
	content: "\e016";
}
.icon.suitcase:before {
	content: "\e017";
}
.icon.cone:before {
	content: "\e018";
}
.icon.earth:before {
	content: "\e019";
}
.icon.keyboard:before {
	content: "\e01a";
}
.icon.phone:before {
	content: "\e020";
}
.icon.mobile:before {
	content: "\e021";
}
.icon.mouse:before {
	content: "\e022";
}
.icon.directions:before {
	content: "\e023";
}
.icon.mail:before {
	content: "\e024";
}
.icon.paperplane:before {
	content: "\e025";
}
.icon.pencil:before {
	content: "\e026";
}
.icon.paperclip:before {
	content: "\e027";
}
.icon.drawer:before {
	content: "\e028";
}
.icon.user-add:before {
	content: "\e029";
}
.icon.vcard:before {
	content: "\e02a";
}
.icon.export:before {
	content: "\e02b";
}
.icon.location:before {
	content: "\e02c";
}
.icon.map:before {
	content: "\e02d";
}
.icon.compass:before {
	content: "\e02e";
}
.icon.location-2:before {
	content: "\e02f";
}
.icon.target:before {
	content: "\e030";
}
.icon.share:before {
	content: "\e031";
}
.icon.thumbs-up:before {
	content: "\e032";
}
.icon.thumbs-down:before {
	content: "\e033";
}
.icon.chat:before {
	content: "\e034";
}
.icon.comment:before {
	content: "\e035";
}
.icon.quote:before {
	content: "\e036";
}
.icon.house:before {
	content: "\e037";
}
.icon.popup:before {
	content: "\e038";
}
.icon.search:before {
	content: "\e039";
}
.icon.flashlight:before {
	content: "\e03a";
}
.icon.tools:before {
	content: "\e03b";
}
.icon.trophy:before {
	content: "\e03c";
}
.icon.tag:before {
	content: "\e03d";
}
.icon.camera:before {
	content: "\e03e";
}
.icon.megaphone:before {
	content: "\e03f";
}
.icon.moon:before {
	content: "\e040";
}
.icon.palette:before {
	content: "\e041";
}
.icon.leaf:before {
	content: "\e042";
}
.icon.music-2:before {
	content: "\e043";
}
.icon.bag:before {
	content: "\e044";
}
.icon.lifebuoy:before {
	content: "\e045";
}
.icon.eye:before {
	content: "\e046";
}
.icon.clock:before {
	content: "\e047";
}
.icon.microphone:before {
	content: "\e048";
}
.icon.calendar:before {
	content: "\e049";
}
.icon.bolt:before {
	content: "\e04a";
}
.icon.thunder:before {
	content: "\e04b";
}
.icon.droplet:before {
	content: "\e04c";
}
.icon.language:before {
	content: "\e04d";
}
.icon.network:before {
	content: "\e04e";
}
.icon.key:before {
	content: "\e04f";
}
.icon.battery:before {
	content: "\e050";
}
.icon.bucket:before {
	content: "\e051";
}
.icon.magnet:before {
	content: "\e052";
}
.icon.drive:before {
	content: "\e053";
}
.icon.cup:before {
	content: "\e054";
}
.icon.rocket:before {
	content: "\e055";
}
.icon.browser:before {
	content: "\e056";
}
.icon.publish:before {
	content: "\e057";
}
.icon.progress-3:before {
	content: "\e058";
}
.icon.progress-2:before {
	content: "\e059";
}
.icon.brogress-1:before {
	content: "\e05a";
}
.icon.progress-0:before {
	content: "\e05b";
}
.icon.sun:before {
	content: "\e05c";
}
.icon.sun-2:before {
	content: "\e05d";
}
.icon.adjust:before {
	content: "\e05e";
}
.icon.code:before {
	content: "\e05f";
}
.icon.screen:before {
	content: "\e060";
}
.icon.infinity:before {
	content: "\e061";
}
.icon.light-bulb:before {
	content: "\e062";
}
.icon.credit-card:before {
	content: "\e063";
}
.icon.database:before {
	content: "\e064";
}
.icon.voicemail:before {
	content: "\e065";
}
.icon.clipboard:before {
	content: "\e066";
}
.icon.cart:before {
	content: "\e067";
}
.icon.box:before {
	content: "\e068";
}
.icon.ticket:before {
	content: "\e069";
}
.icon.rss:before {
	content: "\e06a";
}
.icon.signal:before {
	content: "\e06b";
}
.icon.thermometer:before {
	content: "\e06c";
}
.icon.droplets:before {
	content: "\e06d";
}
.icon.untitled:before {
	content: "\e06e";
}
.icon.statistics:before {
	content: "\e06f";
}
.icon.pie:before {
	content: "\e070";
}
.icon.bars:before {
	content: "\e071";
}
.icon.graph:before {
	content: "\e072";
}
.icon.lock:before {
	content: "\e073";
}
.icon.lock-open:before {
	content: "\e074";
}
.icon.logout:before {
	content: "\e075";
}
.icon.login:before {
	content: "\e076";
}
.icon.checkmark:before {
	content: "\e077";
}
.icon.cross:before {
	content: "\e078";
}
.icon.minus:before {
	content: "\e079";
}
.icon.plus:before {
	content: "\e07a";
}
.icon.cross-2:before {
	content: "\e07b";
}
.icon.minus-2:before {
	content: "\e07c";
}
.icon.plus-2:before {
	content: "\e07d";
}
.icon.cross-3:before {
	content: "\e07e";
}
.icon.minus-3:before {
	content: "\e07f";
}
.icon.plus-3:before {
	content: "\e080";
}
.icon.erase:before {
	content: "\e081";
}
.icon.blocked:before {
	content: "\e082";
}
.icon.info:before {
	content: "\e083";
}
.icon.info-2:before {
	content: "\e084";
}
.icon.question:before {
	content: "\e085";
}
.icon.help:before {
	content: "\e086";
}
.icon.warning:before {
	content: "\e087";
}
.icon.cycle:before {
	content: "\e088";
}
.icon.cw:before {
	content: "\e089";
}
.icon.ccw:before {
	content: "\e08a";
}
.icon.shuffle:before {
	content: "\e08b";
}
.icon.arrow:before {
	content: "\e08c";
}
.icon.arrow-2:before {
	content: "\e08d";
}
.icon.retweet:before {
	content: "\e08e";
}
.icon.loop:before {
	content: "\e08f";
}
.icon.history:before {
	content: "\e090";
}
.icon.back:before {
	content: "\e091";
}
.icon.switch:before {
	content: "\e092";
}
.icon.list-2:before {
	content: "\e093";
}
.icon.add-to-list:before {
	content: "\e094";
}
.icon.layout:before {
	content: "\e095";
}
.icon.list-3:before {
	content: "\e096";
}
.icon.text:before {
	content: "\e097";
}
.icon.text-2:before {
	content: "\e098";
}
.icon.document:before {
	content: "\e099";
}
.icon.docs:before {
	content: "\e09a";
}
.icon.landscape:before {
	content: "\e09b";
}
.icon.pictures:before {
	content: "\e09c";
}
.icon.video:before {
	content: "\e09d";
}
.icon.music-3:before {
	content: "\e09e";
}
.icon.folder:before {
	content: "\e09f";
}
.icon.archive:before {
	content: "\e0a0";
}
.icon.trash:before {
	content: "\e0a1";
}
.icon.upload:before {
	content: "\e0a2";
}
.icon.download:before {
	content: "\e0a3";
}
.icon.disk:before {
	content: "\e0a4";
}
.icon.install:before {
	content: "\e0a5";
}
.icon.cloud:before {
	content: "\e0a6";
}
.icon.upload-2:before {
	content: "\e0a7";
}
.icon.bookmark:before {
	content: "\e0a8";
}
.icon.bookmarks:before {
	content: "\e0a9";
}
.icon.book-2:before {
	content: "\e0aa";
}
.icon.play:before {
	content: "\e0ab";
}
.icon.pause:before {
	content: "\e0ac";
}
.icon.record:before {
	content: "\e0ad";
}
.icon.stop:before {
	content: "\e0ae";
}
.icon.next:before {
	content: "\e0af";
}
.icon.previous:before {
	content: "\e0b0";
}
.icon.first:before {
	content: "\e0b1";
}
.icon.last:before {
	content: "\e0b2";
}
.icon.resize-enlarge:before {
	content: "\e0b3";
}
.icon.resize-shrink:before {
	content: "\e0b4";
}
.icon.volume:before {
	content: "\e0b5";
}
.icon.sound:before {
	content: "\e0b6";
}
.icon.mute:before {
	content: "\e0b7";
}
.icon.flow-cascade:before {
	content: "\e0b8";
}
.icon.flow-branch:before {
	content: "\e0b9";
}
.icon.flow-tree:before {
	content: "\e0ba";
}
.icon.flow-line:before {
	content: "\e0bb";
}
.icon.flow-parallel:before {
	content: "\e0bc";
}
.icon.arrow-left:before {
	content: "\e0bd";
}
.icon.arrow-down:before {
	content: "\e0be";
}
.icon.arrow-up--upload:before {
	content: "\e0bf";
}
.icon.arrow-right:before {
	content: "\e0c0";
}
.icon.arrow-left-2:before {
	content: "\e0c1";
}
.icon.arrow-down-2:before {
	content: "\e0c2";
}
.icon.arrow-up:before {
	content: "\e0c3";
}
.icon.arrow-right-2:before {
	content: "\e0c4";
}
.icon.arrow-left-3:before {
	content: "\e0c5";
}
.icon.arrow-down-3:before {
	content: "\e0c6";
}
.icon.arrow-up-2:before {
	content: "\e0c7";
}
.icon.arrow-right-3:before {
	content: "\e0c8";
}
.icon.arrow-left-4:before {
	content: "\e0c9";
}
.icon.arrow-down-4:before {
	content: "\e0ca";
}
.icon.arrow-up-3:before {
	content: "\e0cb";
}
.icon.arrow-right-4:before {
	content: "\e0cc";
}
.icon.arrow-left-5:before {
	content: "\e0cd";
}
.icon.arrow-down-5:before {
	content: "\e0ce";
}
.icon.arrow-up-4:before {
	content: "\e0cf";
}
.icon.arrow-right-5:before {
	content: "\e0d0";
}
.icon.arrow-left-6:before {
	content: "\e0d1";
}
.icon.arrow-down-6:before {
	content: "\e0d2";
}
.icon.arrow-up-5:before {
	content: "\e0d3";
}
.icon.arrow-right-6:before {
	content: "\e0d4";
}
.icon.arrow-left-7:before {
	content: "\e0d5";
}
.icon.arrow-down-7:before {
	content: "\e0d6";
}
.icon.arrow-up-6:before {
	content: "\e0d7";
}
.icon.untitled-2:before {
	content: "\e0d8";
}
.icon.arrow-left-8:before {
	content: "\e0d9";
}
.icon.arrow-down-8:before {
	content: "\e0da";
}
.icon.arrow-up-7:before {
	content: "\e0db";
}
.icon.arrow-right-7:before {
	content: "\e0dc";
}
.icon.menu:before {
	content: "\e0dd";
}
.icon.ellipsis:before {
	content: "\e0de";
}
.icon.dots:before {
	content: "\e0df";
}
.icon.dot:before {
	content: "\e0e0";
}
.icon.cc:before {
	content: "\e0e1";
}
.icon.cc-by:before {
	content: "\e0e2";
}
.icon.cc-nc:before {
	content: "\e0e3";
}
.icon.cc-nc-eu:before {
	content: "\e0e4";
}
.icon.cc-nc-jp:before {
	content: "\e0e5";
}
.icon.cc-sa:before {
	content: "\e0e6";
}
.icon.cc-nd:before {
	content: "\e0e7";
}
.icon.cc-pd:before {
	content: "\e0e8";
}
.icon.cc-zero:before {
	content: "\e0e9";
}
.icon.cc-share:before {
	content: "\e0ea";
}
.icon.cc-share-2:before {
	content: "\e0eb";
}
.icon.daniel-bruce:before {
	content: "\e0ec";
}
.icon.github:before {
	content: "\e0ed";
}
.icon.github-2:before {
	content: "\e0ee";
}
.icon.dribbble:before {
	content: "\e0ef";
}
.icon.qq:before {
	content: "\e0f0";
}
.icon.renren:before {
	content: "\e0f1";
}
.icon.sina-weibo:before {
	content: "\e0f2";
}
.icon.database-2:before {
	content: "\e0f3";
}
.icon.phone-2:before {
	content: "\e0f4";
}
.icon.phone-hang-up:before {
	content: "\e0f5";
}
